{% load i18n %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a></li>
    {% endif %}
  </ul>
  <nav >
    <div class="nav-wrapper container">
      <a href="{% url 'index' %}" class="brand-logo title_primay" >Django Girls</a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ user.get_username }}<i class="material-icons right">arrow_drop_down</i></a></li>
        {% else %}
        <li><a class="waves-effect waves-light btn" href="{% url 'account_login' %}">Inicia sesión</a></li>
        {% endif %}
        
        
      </ul>
    </div>
  </nav>
          
