{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="container" >
    {% for publisher in object_list %}
    <div class="row">
        <p class="right" style="color: #9e9e9e">
            hace {{ publisher.timestamp|timesince }}
        </p>
        <h4>
            <a class="title_primay" href="{{ publisher.get_absolute_url }}">{{ publisher.title }}</a>
        </h4>
        <blockquote>
            <p > {{ publisher }}</p>
            <!-- |linebreaksbr -->
        </blockquote>
    </div>
    {% endfor %}
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large amber darken-3" href="{% url 'create_post' %}">
          <i class="large material-icons">add</i>
    </a>
</div>

{% endblock %}